* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav.navbar-expand {
  background-color: rgb(225, 225, 225);
}

.navbar-brand {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 24px;
  line-height: 32, 74px;
}

.dark-title {
  margin-top: auto;
  margin-bottom: auto;
}

.card-title {
  line-height: 26px;
  font-weight: 800;
  font-size: 18px;
  padding-bottom: 16px;
}

.card-title-detail {
  line-height: 26px;
  font-weight: 800;
  font-size: 32px;
  padding-bottom: 16px;
}

.about-flag {
  margin-top: 80px;
}

.country-card {
  border: none;
}

.country-neighbour {
  box-shadow: 2px 2px 4px rgb(127, 126, 126);
  padding: 2px 3px;
}

.about-this-country {
  line-height: 16px;
}

.dark-mode {
  background-color: #202C36;
}
.dark-mode #search {
  color: white;
}
.dark-mode .container-fluid .navbar-expand {
  background-color: #2B3844;
}
.dark-mode .container-fluid .navbar-brand {
  background-color: #2B3844;
  color: white;
}
.dark-mode .container-fluid #dark-button {
  background-color: #2B3844;
  color: white;
}
.dark-mode .container-fluid input#search {
  background-color: #2B3844;
}
.dark-mode .container-fluid input#search.value {
  color: white;
}
.dark-mode .container-fluid .card {
  background-color: #2B3844;
  color: white;
}
.dark-mode .container-fluid .dropdown button {
  background-color: #2B3844;
  color: white;
}
.dark-mode .container-fluid .dropdown button ~ ul {
  background-color: #2B3844;
}
.dark-mode .container-fluid .dropdown button ~ ul .dropdown-item {
  color: white;
}
.dark-mode .container-fluid .dropdown button ~ ul .dropdown-item:hover {
  color: rgb(30, 27, 27);
}
.dark-mode input::placeholder {
  color: white;
}

.pre {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 20px solid transparent;
  border-right: 20px solid #202C36;
  border-left: 20px solid #202C36;
  animation: a1 1s infinite linear;
}

@keyframes a1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.load .pre {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: scale(0.8);
}

@media screen and (max-width: 1202px) {
  .container-fluid.about-flag-country {
    display: none;
  }
}



.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid red; /
  border-radius: 50%;
  width: 20px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide-loader{
display:none;
}







